<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home | Online Tamil Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="http://www.onlinetamilportal.com/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://www.onlinetamilportal.com/css/3-col-portfolio.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="http://www.onlinetamilportal.com">onlinetamilportal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://www.onlinetamilportal.com">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading
      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>
    --><p>

      <div class="row">
        <% for(var i=0;i<result.length;i++){
          var tit=result[i].title ;
          var url=tit.replace(/ /g,"-");
          url=url.toLowerCase()

          %>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <% if(result[i].posttype=="video"){%>
              <img class="card-img-top" src="https://img.youtube.com/vi/<%=result[i].content%>/0.jpg" alt="Card image cap">
            <%}else{%>
              <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <%}%>
            <div class="card-body">
              <h4 class="card-title">

                <a href="<%=url%>"><h3 class="card-title"><%=result[i].title %></h3></a>
              </h4>
              <p class="card-text">  Posted on <%=result[i].publishedon%></a> by
                <a href=""><%=result[i].publishedby%></a></p>
            </div>
          </div>
        </div>
        <%}%>
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; onlinetamilportal.com 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://www.onlinetamilportal.com/vendor/jquery/jquery.min.js"></script>
    <script src="http://www.onlinetamilportal.com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
